<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
        <title>K3KI</title>
        <link rel="icon" href="/view/img/favicon.ico">
        <link rel="stylesheet" href="/view/css/calc1.css">
    </head>
    <header>
        <h3>goisgodにコピペするときは</h3>
        <h3>"static"の前にスラッシュをつける</h3>
    </header>
    <body>
        <h1>計算機</h1>
        <p>計算機(シミュレータ)</p>
        <hr>
        <p>レベル, 経験値, 元気は絶対入力する</p>
        <div id="condition">
            <img src="/view/img/frame.png">
            <form onsubmit="return false;">
                <input type="tel" id="lv" value="133" maxlength="3">
                <div id="e">
                    <input type="tel" id="exp" value="1937" maxlength="6">
                    <label for="exp" id="mexp">13250</label>
                </div>
                <div id="f">
                    <input type="tel" id="fn" value="130" maxlength="3">
                    <label for="fn" id="mfn">114</label>
                </div>
                <input type="image" id="fns" src="/view/img/button.png">
                <div id="ener">
                    <img src="/view/img/item.png">
                    <input type="tel" maxlength="3" value="1">
                    <input type="tel" maxlength="3" value="2">
                    <input type="tel" maxlength="3" value="3">
                    <input type="image" id="ca" src="/view/img/cancel.png">
                    <input type="image" id="cl" src="/view/img/clear.png">
                    <input type="image" id="us" src="/view/img/use.png">
                </div>
                <input type="tel" id="dia" value="25720" maxlength="7">
                <input type="tel" id="tix" value="420" maxlength="3">
            </form>
            <progress id="bar1" max="100" value="0"></progress>
            <progress id="bar2" max="100" value="0"></progress>
            <progress id="bar3" max="100" value="0"></progress>
            <p id="now"></p>
        </div>
        <form onsubmit="return false;">
            <input type="time" id="tm" value="20:59" step="300" max="20:59">
            <label>
                目標
            <input type="tel" id="gl">
            </label>
            <input type="button" id="le" value="ライブ">
            <input type="button" id="bc" value="１倍">
            <input type="button" id="st" value="シアター">
            <select id="bi">
              <option value="1">１倍</option>
              <option value="2">２倍</option>
              <option id ="bai" value="4">４倍</option>
            </select>

            <input type="button" id="iN" value="自然回復分を含める">
            <label>
                イベ期間
                <select id="kika">
                    <option value="7">150h(n日～n+6日)</option>
                    <option value="8" selected>174h(n日～n+7日)</option>
                    <option value="9">198h(n日～n+8日)</option>
                </select>
            </label>
            <input type="button" id="ksan" value="計算">
        </form>
        <br>
        <hr>
            <h4>lab.</h4>
            <input type="button" id="a">
        <br>
        <hr>
        <br>
        <h2>結果はっぴょぉおお</h2>
        <div id="rsf">0</div>
        <div id="rsp">0</div>
        <div id="rsl">0</div>
        <div id="cos">0</div>
        <div id="ivs">0</div>
        <div id="rmf">0</div>
        <div id="rmi">0</div>
        <div>
            自然回復分
            <div id="ncl">0</div>
            <div id="ncp">0</div>
        </div>
        <script async defer src="/view/js/calc1.js"></script>
    </body>
</html>
