html,input{
    font-size:16px;
}

hr {
    background-color: #533b3b;
}

#condition {
    position:relative;
    z-index:0;
}

#condition img {
    width: 342px;
}

#lv, #exp, #fn, #dia, #tix {
    border: none;
    background-color:transparent;
    text-align:right;
}

#lv {
    position:absolute;
    top:0;
    left:71px;
    width:27px;
    color: transparent;
    text-shadow:0 0 0.6px #efefef;
    transform:scale(0.78,0.73);
}

#e{
    display:inline-block;
    position:absolute;
    top:11px;
    left:10.2px;
    width:102.5px;
    text-align:right;
    transform:scale(0.59,0.57);
}

#exp {
    width:45px;
    color: #5a5c59b8;
    letter-spacing:-0.4px;
    text-shadow:0 0 1px #555555;
}

#mexp {
    display:inline-block;
    margin-left:-7px;
    color: #5a5c59b8;
    font-family:'arial';
    letter-spacing:-0.4px;
    text-align:right;
    text-shadow:0 0 1px #555555;
}

#f{
    display:inline-block;
    position:absolute;
    top:11px;
    left:129.2px;
    width:80.4px;
    text-align:right;
    transform:scale(0.59,0.57);
}

#fn {
    width:45px;
    letter-spacing:-0.4px;
}

#mfn{
    display:inline-block;
    margin-left:-6.8px;
    color:#4d5759e3;
    font-family:'Arial';
    letter-spacing:0.4px;
    text-align:right;
    text-shadow:0 0 1.5px #25452d;
}

#mexp::before,#mfn::before{
    content:"/";
}

#fns{
    position:absolute;
    top:-33.3px;
    left:163px;
    transform:scale(0.2127);
    }

#fns:active{
    -webkit-tap-highlight-color:transparent;
    transform:scale(0.2127) translateY(3px);
}

#ener{
    display:none;
    position:absolute;
    top:-175px;
    left:50px;
    width:130px;
    background-color:blue;
    z-index:1;
}

#ener img{
    position:absolute;
    transform:scale(0.65);
}

#ener [type="tel"]{
    position:absolute;
    left:228px;
    width:40px;
    margin:0;
    padding:0;
    border:none;
    background-color:transparent;
    color:transparent;
    text-align:center;
    text-shadow:0 0 0.7px #e8e4e4;
    transform:scale(0.55);
}

#ener > :nth-child(2){
    top:65.1px;
}

#ener > :nth-child(3){
    top:96px;
}

#ener > :nth-child(4){
    top:126px;
}

#ca,#cl,#us{
    position:absolute;
    top:152px;
    width:53.2px;
}

#ca{
    left:89.8px;
}

#cl{
    left:145px;
}

#us{
    left:200px;
}

#ener > [type="image"]:active{
    -webkit-tap-highlight-color:transparent;
    transform:translateY(0.8px);
}

#dia {
    position:absolute;
    top:13px;
    left:210px;
    width:84px;
    color: #5a5c59b8;
    letter-spacing:1.2px;
    text-align:center;
    text-shadow:0 0 1.2px #555555;
    transform:scale(0.6,0.62);
}

#tix {
    position:absolute;
    top:13px;
    left:289px;
    width:33px;
    color: #5a5c59b8;
    letter-spacing:1.2px;
    text-align:center;
    text-shadow:0 0 1.2px #555555;
    transform:scale(0.6,0.62);
}

input:focus {
    outline: none;
}

[id="bar1"] {
    appearance: none;
    width:95px;
    height:10px;
}

#bar1::-webkit-progress-bar,#bar2::-webkit-progress-bar{
    background-color:white;
}

#bar3::-webkit-progress-bar{
    background-color:transparent;
}

#bar1 {
    position:absolute;
    top:18px;
    left:3px;
    z-index:-1;
}

#bar1::-webkit-progress-value{
    background:linear-gradient(#ffadf8 45%,#ff88d7)
}

[id="bar2"],[id="bar3"] {
    appearance: none;
    width:95.2px;
    height:9.4px;
}

#bar2,#bar3{
    position:absolute;
    top:18px;
    left:101.2px;
    z-index:-1;
}

#bar2::-webkit-progress-value{
    background:linear-gradient(#7affa1 45%,#76fe7e)
}

#bar3::-webkit-progress-value{
    background:linear-gradient(#f5d13c 48%,#ebb23a)
}

#now{
    position:absolute;
    top:-3.2px;
    left:129px;
    color: transparent;
    font-size:8px;
    font-family:'Arial';
    letter-spacing:-0.3px;
    text-shadow:0 0 0.6px #efefef;
    transform:scaleX(0.9);
}

#rsf::before {
    content: "必要スタミナ:"
}

#rsp::before {
    content: "獲得ポイント:";
}

#rsl::before {
    content: "最終レベル:";
}

#cos::before {
    content: "通常回数:";
}

#ivs::before {
    content: "イベ回数:";
}

#rmf::before {
    content: "スタミナ余り:";
}

#rmi::before {
    content: "アイテム余り:";
}

#ncl::before {
    content: "レベル:";
}

#ncp::before {
    content: "ポイント:";
}