<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <title>計算機1</title>
    <!--<link rel="stylesheet" href="/static/css/style.css">-->
    <style type="text/css">
      *{margin:0;}
      html{font-size:16px;}
      @keyframes itera {50%{transform:translateX(calc(100vw - 120px));}100%{transform:translateX(- 100vw);}}
      h2{display:inline-block;font-size:2em;}
      p{display:inline-block;font-size:1.5em;}
      #a{float:right;padding-right:50px;}
      #b{position:relative;top:-8px;animation:itera 5s infinite;}
      img{height:calc(100vh - 120px);width:100vw;position:absolute;bottom:0;}
    </style>
  </head>

  <body>
    <header>
      <a href="/">
        <h1>このサイトの名前(不○議.netみたいなやつ)</h1>
      </a>
      <a href="/calc1/kari">仮設置だから...仮設置</a>
    </header>
    <div>
      <h2>計算機1</h2>
      <p id="a">未実装</p>
      <br>
      <p id="b">～の計算機</p>
    </div>
    <br>
    <img src="/static/img/k1.gif">
  </body>

  <script>
    setTimeout(function(){window.location="/calc1/kari";},10000);
  </script>

</html>
